
# 배포 환경 변수
# EXPO_PUBLIC_API_BASE_URL=실제 배포된 API URL
# EXPO_PUBLIC_KAKAO_REDIRECT_URI=실제 배포된 API URL/auth/kakao/callback

# 로컬 테스트 환경 변수 (ANDROID 에뮬레이터에서 호스트 머신의 localhost)
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
EXPO_PUBLIC_KAKAO_REDIRECT_URI=http://10.0.2.2:3000/auth/kakao/callback

# 변경되지 않는 환경 변수
EXPO_PUBLIC_KAKAO_MAP_KEY=카카오 맵 API 키
EXPO_PUBLIC_KAKAO_REST_API_KEY=카카오 REST API 키
EXPO_PUBLIC_AUTH_REDIRECT_SCHEME=앱 스키마